[Desktop Entry]
Name=Oxide-v8CE
GenericName=Web Vulnerability Scanner
Comment=HyperSecurityLabs — OXIDE v8.5.0 CE — AI-powered zero-day web exploitation & vulnerability scanner
Exec=oxide-ce
Icon=oxide-community
Terminal=true
Type=Application
Categories=kali-web-vulnerability-scanning;kali-initial-access;kali-reconnaissance;
Keywords=scanner;vulnerability;security;web;hypersecurity;khaninkali;oxide;
StartupNotify=true
StartupWMClass=oxide-community
